<section class="card-row h-100">
  <article class="card">
    <img src="{{product.imagePath}}" alt="{{product.name}}" class="img-fluid">
    <a routerLink="/shop/{{product.id}}">
      <h6 class="text-uppercase">{{product.name}}</h6>
    </a>
    <p class="card-text">
      {{product.description}}
    </p>
    <span class="mb-2 font-weight-bolder">{{product.price | currency}}</span>
    <a href="#" class="button">
      <i class="fa fa-shopping-cart"></i>
      &nbsp;
      Sepete Ekle
    </a>
    <a href="#" class="view mt-2" routerLink="/shop/{{product.id}}">
      <i class="fa fa-eye"></i>
      &nbsp;
      Görüntüle
    </a>
  </article>
</section>

